<section>
    <h2>Evento</h2>
    <form role="form">
        <div class="form-group col-md-5">
            <label for="nome">Casal:</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group col-md-3">
            <label for="dataEvento">Data Evento:</label>
            <div class="input-group date">
                <input type="text" name="dataEvento" id="dataEvento" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label for="nome">Local:</label>
            <input type="text" class="form-control" id="local">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right">Salvar</button>
            <a href="#/evento" class="btn btn-warning pull-right">Cancelar</a>
        </div>
    </form>
</section>