<section>
    <h2>
        Eventos
        <a href="#/evento/adicionar" class="btn btn-success pull-right">Adicionar</a>
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="evento in eventos">
                <td>{{ evento.nome }}</td>
                <td>{{ evento.data }}</td>
                <td>{{ evento.local }}</td>
                <td>
                    <a href="#/evento/{{ evento.id }}" class="btn btn-success">Editar</a>
                    <button class="btn btn-warning" data-ng-click="remove($index)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>