<section>
    <h2>Música</h2>
    <form role="form">
        <div class="form-group col-md-8">
            <label for="nome">Momento:</label>
            <input type="text" class="form-control" id="nome">
        </div>
        </div>
        <div class="form-group col-md-8">
            <label for="nome">Música:</label>
            <input type="text" class="form-control" id="local">
        </div>
        <div class="form-group col-md-8">
            <label for="nome">Link:</label>
            <input type="text" class="form-control" id="local">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right">Salvar</button>
            <a href="#/musica/cancelar" class="btn btn-warning pull-right">Cancelar</a>
        </div>
    </form>
</section>